.header{
height: 100px ;
/* min-height:10px ;
max-height: ; */
background-color: red;
}

.container{
	overflow: hidden;
}

.blog{
	width: 70%;
	height: 150px;
	background-color: green;
	float: left;
}

.sidebar{
		width: 30%;
		height: 150px;
		background-color: blue;
		position: relative;
		float: right;
}

.footer{
	height: 100px;
	background-color: maroon;

}